@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #344d77 inset !important; /* your background color */
  -webkit-text-fill-color: #fff !important; /* your text color */
}
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  height: 10px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color on hover */
}

/* resusable classes */
.alert-xbottom {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 10000;
}
